.main-body{ 
    flex: 1;
    position: fixed;
    top: 15%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px 30px 40px;
}

.desc-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 45%;
    height: 90%;
    gap: 20px;
}

.intro{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 15px;
    height: 60%;
    margin-top: 15%;
    padding: 5px;
    backdrop-filter: blur(7px);
}

#app-title{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    transition: 0.4s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app-title:hover{
    scale: 1.2;
    color: rgb(9, 75, 68);
    cursor: pointer;
}

#app-tag{
    font-size: 1.5em;
    text-align: center;
    margin: 0px;
    color: rgb(50, 50, 94);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#app-desc{
    text-align: center;
    margin: 0px;
    padding: 20px;
    color: rgb(50, 50, 94);
}

.hyperlinks{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 15px;
    height: 20%;
    margin-bottom: 20%;
    backdrop-filter: blur(7px);
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    width: 17%;
    color: white;
}

#quick-nav-title{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    color: rgb(50, 50, 94);
}

.sidebar-links{
    display: flex;
    justify-content: left;
    border-radius: 20px;
    background-color: white;
    color: rgb(50, 50, 94);
    text-align: center;
    transition: 0.4s ease;
    padding: 5px;
}

.sidebar-links:hover {
    background-color: rgb(9, 75, 68);
    transform: scale(1.2);
    color: white;
    font-weight: bolder;
}

.icon-circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 94);
    border-radius: 50%;
    padding: 3px;
    color: white;
    width: 20px;
    height: 20px;
    margin-right: 15%;
}